@page "/medication"
@using HealthCareApp.Shared.Dto.MedicalRecord
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Medication</PageTitle>
<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="p-5 w-75">
        <MudChip T="string" Label="true" style="margin-bottom:20px; margin-top:20px; font-weight:700;">Manage Medication</MudChip>
        <MudForm Spacing="2" @ref="@form">
            <MudSelect Label="Medication" @bind-Value="data.DrugDirectoryId">
                @foreach (var medication in medicationDirectories)
                {
                    <MudSelectItem Value="medication.Id">@medication.DrugName</MudSelectItem>
                }
            </MudSelect>

            <MudDatePicker Label="Start Date" Editable="true" @bind-Date="_startDate" />
            <MudDatePicker Label="End Date" Editable="true" @bind-Date="_endDate" />
            <MudStack Row="true" Justify="Justify.Center" Spacing="2">
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="(() =>SubmitForm())">Submit</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" EndIcon="@Icons.Material.Filled.Send" OnClick="(() =>goNext())">Go To Lifestyle</MudButton>
            </MudStack>
        </MudForm>

        @if (medication.Count == 0)
        {
            <p>No data to display here</p>
        }
        else
        {
            <MudSimpleTable Items="Medication" Hover="true">
                <thead>
                    <MudTh>Medication Name</MudTh>
                    <MudTh>Start Date</MudTh>
                    <MudTh>End Date</MudTh>
                    <MudTh>Actions</MudTh>
                </thead>
                <tbody>
                    @foreach (var m in medication)
                    {
                        <MudTr>
                            <MudTd>@m.DrugDirectoryDto.DrugName</MudTd>
                            <MudTd>@m.StartDate.ToShortDateString()</MudTd>
                            <MudTd>@m.EndDate.ToShortDateString()</MudTd>
                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="(() => DeleteMedication(m.Id))" />
                            </MudTd>
                        </MudTr>
                    }
                </tbody>
            </MudSimpleTable>
        }
    </MudPaper>
</MudContainer>


@code {

    @inject ISnackbar Snackbar
    @inject NavigationManager navigation

    private MedicationDto data { get; set; } = new MedicationDto();
    private List<MedicationDto> medication { get; set; } = new List<MedicationDto>();
    private List<DrugDirectoryDto> medicationDirectories { get; set; } = new List<DrugDirectoryDto>();
    MudForm form { get; set; }

    public DateTime? _startDate { get; set; } = DateTime.Now;
    public DateTime? _endDate { get; set; } = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        await LoadMedications();
        await LoadMedicationDirectory();
    }

    private async Task LoadMedications()
    {
        medication = await Http.GetFromJsonAsync<List<MedicationDto>>("Get-Medication") ?? new List<MedicationDto>();
    }

    public async Task LoadMedicationDirectory()
    {
        medicationDirectories = await Http.GetFromJsonAsync<List<DrugDirectoryDto>>("Get-DrugDirectories") ?? new List<DrugDirectoryDto>();
    }

    private async void SubmitForm()
    {
        if (_startDate == null || _endDate == null)
        {
            Snackbar.Add("Select all options", Severity.Error);
            return;
        }

        data.StartDate = (DateTime)_startDate!;
        data.EndDate = (DateTime)_endDate!;
        data.DrugDirectoryDto.DrugName = "";

        HttpResponseMessage response;
        if (data.Id == 0)
        {
            response = await Http.PostAsJsonAsync("/Create-Medication", data);
            if (response.IsSuccessStatusCode)
            {
                Snackbar.Add("Medication added.", Severity.Success);
            }
            else
            {
                Snackbar.Add("No Medication Selected.", Severity.Error);
            }
        }

        // Refresh the list
        await LoadMedications();
        // Reset the form
        data = new MedicationDto();
        form?.ResetAsync();

        StateHasChanged();
    }

    public async void goNext()
    {
        navigation.NavigateTo("/Lifestyle-Record");
    }

    private async Task DeleteMedication(int id)
    {
        var deleteResponse = await Http.DeleteAsync($"/Delete-Medication/{id}");
        if (deleteResponse.IsSuccessStatusCode)
        {
            Snackbar.Add("Medication deleted.", Severity.Success);
            await LoadMedications(); // Refresh the list
        }
        else
        {
            Snackbar.Add("Failed to delete Medication.", Severity.Error);
        }
    }
}

